# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*
*.tfplan

# Sensitive variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Private keys
*.pem
*.key

# Local OCI credentials
.oci/
